<div class="marginauto">
  <div class="mat-table-scroll padtop" [@subirAnimation]>
    <div class="title">Generación de Turnos</div>

    <mat-form-field class="margright20">
      <mat-label>Comercio</mat-label>
      <mat-select  (selectionChange)="cambiarComerc($event)">
        <mat-option *ngFor="let comerc of dataComercios" [value]="comerc.id_comercio">
          {{comerc.nombre_comercio}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="margright20">
      <mat-label>Servicio</mat-label>
      <mat-select  (selectionChange)="cambiarServicio($event)">
        <mat-option *ngFor="let serv of dataServicios" [value]="serv.id_servicio">
          {{serv.nom_servicio}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="matfielddate margright20"  [ngClass]="{ 'ng-invalid mat-form-field-invalid':  false && formSubmited }">
      <mat-label>Fecha Inicio</mat-label>
      <input  (dateChange)="IniDateChange($event)" [max]="maxIni"  matInput [matDatepicker]="pickerIni">
      <mat-datepicker-toggle matSuffix [for]="pickerIni"></mat-datepicker-toggle>
      <mat-datepicker #pickerIni></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="matfielddate margright20"  [ngClass]="{ 'ng-invalid mat-form-field-invalid':  false && formSubmited }">
      <mat-label>Fecha Fin</mat-label>
      <input  (dateChange)="FinDateChange($event)" [max]="maxFin"  matInput [matDatepicker]="pickerFin">
      <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
      <mat-datepicker #pickerFin ></mat-datepicker>
    </mat-form-field>
    <button class="boton" (click)="genTurnos()">Generar</button>

    <table class="centerdiv" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="NOM_COMERCIO">
        <th style="min-width:120px" mat-header-cell *matHeaderCellDef>Comercio</th>
        <td style="min-width:120px" class="tcenter" mat-cell
            *matCellDef="let element"> {{element.NOM_COMERCIO}} </td>
      </ng-container>

      <ng-container matColumnDef="NOM_SERVICIO">
        <th style="min-width:120px" mat-header-cell *matHeaderCellDef>Servicio</th>
        <td style="min-width:120px" class="tcenter" mat-cell
            *matCellDef="let element"> {{element.NOM_SERVICIO}} </td>
      </ng-container>

      <ng-container matColumnDef="FECHA_TURNO">
        <th style="min-width:120px" mat-header-cell *matHeaderCellDef>Fecha Turno</th>
        <td style="min-width:120px" class="tcenter" mat-cell
            *matCellDef="let element"> {{element.FECHA_TURNO | date: 'dd/MM/yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="HORA_INICIO">
        <th style="min-width:150px" mat-header-cell *matHeaderCellDef> Hora Inicio</th>
        <td style="min-width:150px" class="tcenter" mat-cell
            *matCellDef="let element"> {{element.HORA_INICIO | replace : '.0' : '' | replace : ':0:' : ':00:' | replace : '0 ' : ''
          | replace : ':0' : ':00'
          | replace : ':000' : ':00'}} </td>
      </ng-container>
      <ng-container matColumnDef="HORA_FIN">
        <th style="min-width:150px" mat-header-cell *matHeaderCellDef> Hora Fin</th>
        <td style="min-width:150px" class="tcenter" mat-cell
            *matCellDef="let element"> {{element.HORA_FIN | replace : '.0' : '' | replace : ':0:' : ':00:' | replace : '0 ' : ''
          | replace : ':0' : ':00'
          | replace : ':000' : ':00'}} </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="dataSource && dataSource.data.length === 0" class="marginauto centerdiv">No se encontraron registros
    </div>

    <mat-paginator class="matselect centerdiv" style="width:500px" [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons></mat-paginator>
  </div>
</div>
